<!-- isso é uma tag <html> -->
<!--na tag <head>deverá vir todas as configurações do meu documento. -->
<!-- Todo conteudo visível na página, deverá vir na tag <body>. -->
<!--
        HTML

        HyperText
            Hipertexto
            <a> - tag que coloca links na nossa pagina, uma pagina que vai te levar para outra pagina

        Markup
            Marcação


        Language
            Linguagem
         
    -->
  



<!DOCTYPE html>
<html lang="pt_br"> <!-- lang é um atributo que vai definir a linguagem do meu html -->
<head>
    <meta charset="UTF-8"> <!-- definir propriedades da pagina como o charset, dizendo que o tipo de texto é o utf-8-->
    <meta name="theme-color" content="#8257E5">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- configruar o documento para as telas-->
    <title>Proffy | Sua plataforma de estudos online</title>

    <link rel="shortcut icon" href="images/images/favicon.png" type= "image/png">

    <!--<style>
 
                Cascading
                Em cascata 

                StyleSheet
                Folha de estilo
            */

        #page-landing  {
            color: red; 
        }

    </style>
    -->

    <link rel="stylesheet" href="/styles/main.css"> 
    <link rel="stylesheet" href="/styles/partials/page-landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>
<body id = "page-landing">
    <div id= "container">
        <div class="logo-container">
            <img src="/images/images/logo.svg" alt="Proffy">
            <h2>Sua plataforma de estudos online</h2>
        </div>
        <img class= "hero-image" src="/images/images/landing.svg" alt="plataforma de Estudos">

    <!--<img src="" alt="Logo">  src, fonte da imagem, o link da imagem, o alt, é uma alternativa caso o endereço nao seja encontrado, que deve ser um texto
    o alt tambem serve como leitor de conteudo, pessoas cegas pr exemplo-->
        <div class="buttons-container">
            <a class="study" href="/study"> <!--Faz com que, quando se clique no botão, ele redirecione para o link-->
                <img src="/images/images/icons/study.svg" alt="Estudar">
                Estudar
            </a>
            <a class="give-classes" href="/give-classes"> <!--Faz com que, quando se clique no botão, ele redirecione para o link-->
                <img src="/images/images/icons/give-classes.svg" alt="Dar aulas">
                Dar aulas
            </a>


        </div>

        <p class="total-connections">

            Total de 200 conexões já realizadas
            <img src="/images/images/icons/purple-heart.svg" alt="Coração roxo">
        </p>
    </div>


</body>
</html>